<div class="container">
    <a class="navbar-brand" href="{{ shop.url }}"
      ><img src="{{ settings.logo | img_url: '250x' }}" alt="{{ shop.name }}" class="img-fluid"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for link in linklists[section.settings.menu_linklist].links %}
        {% if link.links == blank %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% if link.links != blank %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown-{{link.title}}"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{link.title}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{link.title}}">
            <div class="dropdown-header">{{ link.title }}</div>
            {% for childlink in link.links %}
            <div class="dropdown-divider"></div>
              <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>{% endfor %}
          </div>
        </li>
        {% endif %} {% endfor %}
        {% if settings.menu__top-visibility == "hide" %}
          {% if customer %}
            <li class="nav-item"><a class="nav-link" href="/account"><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/account/logout"><i class="fas fa-sign-out-alt"></i></a></li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/account/login"><i class="fas fa-sign-out-alt"></i></a>
            </li>
          {% endif %}
        {% endif %}
      </ul>

    </div>
  </div>

  