{% assign collection = collections[section.settings.collection] %}
<section id="col-{{ collection.handle }}-{{ collection.id }}" class="container-fluid featured section pt-{{section.settings.spacing_vertical}} pt-{{section.settings.spacing_vertical}}">
  <div class="row collection">
  
    {% if section.settings.image_align == "left" %}
      <div class="col-md-4 collection__image p-0" id="collection-post-{{ collection.id }}" style="background-image: url({{ collection.image | img_url: '1800x1300' }})" title="{{ collection.image.alt }}" {{ section.shopify_attributes }}>
              <img draggable="false" class="img-fluid sr-only" src="{{ collection.image | img_url: '1800x1300' }}" alt="{{ collection.image.alt }}" />
      </div>
      <div class="col-md-8 collection__info bg-{{ section.settings.bg_color }} text-white ">
          <div class="container ">
            <div class="justify-content-center align-self-center">
              <h3 class="mt-1 mb-1">{{ collection.title }}</h3>
              <h5 class="">{{ section.settings.secondary_title }}</h5>
              <p class="">{{ collection.description | truncatewords:40 }}</p>

              {% if collection.all_products_count == 1 %}
                {% for product in collection.products limit: 1 %}
                  <a href="{{ product.url }}" title="{{ product.title }}" class="btn btn-light">View Product</a>
                {% endfor %}
              {% else %}
              <a href="{{ collection.url }}" title="{{ collection.title }}" class="btn btn-light">View Products</a>
              {% endif %}
            </div>
          </div>
      </div>
    {% else %}
      <div class="col-md-8 collection__info bg-{{ section.settings.bg_color }} text-white ">
          <div class="container ">
            <div class="justify-content-center align-self-center">
              <h3 class="mt-1 mb-1">{{ collection.title }}</h3>
              <h5 class="">{{ section.settings.secondary_title }}</h5>
              <p class="">{{ collection.description | truncatewords:40 }}</p>

              {% if collection.all_products_count == 1 %}
                {% for product in collection.products limit: 1 %}
                  <a href="{{ product.url }}" title="{{ product.title }}" class="btn btn-light">View Product</a>
                {% endfor %}
              {% else %}
              <a href="{{ collection.url }}" title="{{ collection.title }}" class="btn btn-light">View Products</a>
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-md-4 collection__image p-0" id="collection-post-{{ collection.id }}" style="background-image: url({{ collection.image | img_url: '1800x1300' }})" title="{{ collection.image.alt }}" {{ section.shopify_attributes }}>
              <img draggable="false" class="img-fluid sr-only" src="{{ collection.image | img_url: '1800x1300' }}" alt="{{ collection.image.alt }}" />
      </div>
    {% endif %}
    

  </div>
</section>
{% schema %}
{
  "name": "Collections",
  "class": "index-section section",
  "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Collections"
        },{
          "type" : "text",
          "id" : "secondary_title",
          "label" : {
          "da": "Sekundær titel",
          "de": "Nebentitel",
          "en": "Secondary Title",
          "es": "Título Secundario",
          "fi": "Toissijainen otsikko",
          "fr": "Titre secondaire",
          "hi": "माध्यमिक उपाधि",
          "it": "Titolo secondario",
          "ja": "副題",
          "ko": "보조 제목",
          "nb": "Sekundær tittel",
          "nl": "Secundaire titel",
          "pt-BR": "Título Secundário",
          "pt-PT": "Título Secundário",
          "sv": "Sekundär titel",
          "th": "ชื่อเรื่องรอง",
          "zh-CN": "次要标题",
          "zh-TW": "次要標題"
        }
        },{
            "type": "select",
            "id": "bg_color",
            "options": [
                { "value": "primary", "label": "Primary"},
                { "value": "secondary", "label": "Secondary"},
                { "value": "tertiary", "label": "Tertiary"},
                { "value": "quaternary", "label": "Quaternary"},
                { "value": "dark", "label": "Dark"},
                { "value": "light", "label": "light"},
                { "value": "black", "label": "Black"},
                { "value": "white", "label": "White"},
                { "value": "nav", "label": "Blue"}
            ],
            "label": {
              "de" : "Hintergrundfarbe",
              "it" : "Colore di sfondo",
              "nb" : "Bakgrunnsfarge",
              "en" : "Background Color",
              "es" : "Color de fondo",
              "zh-cn" : "背景颜色",
              "da" : "Baggrundsfarve",
              "ja" : "背景色",
              "sv" : "Bakgrundsfärg",
              "th" : "สีพื้นหลัง",
              "zh-tw" : "背景顏色",
              "nl" : "Achtergrond kleur",
              "fi" : "Taustaväri",
              "ko" : "배경색",
              "pt" : "Cor de fundo",
              "fr" : "Couleur de l'arrière plan",
              "hi" : "पीछे का रंग"
            }
        },{
           "type": "select",
           "id": "image_align",
           "options": [
              { "value": "left", "label": {
                "de" : "Linksbündig",
                "it" : "Allineare a sinistra",
                "nb": "Juster venstre",
                "en": "Align Left",
                "es": "Alinear a la izquierda",
                "zh-cn": "左对齐",
                "da": "Juster venstre",
                "ja": "左揃え",
                "sv": "Justera vänster",
                "th": "จัดชิดซ้าย",
                "zh-tw": "左對齊",
                "nl": "Links uitlijnen",
                "fi": "Tasaa vasemmalle",
                "ko": "왼쪽 정렬",
                "pt": "Alinhar à esquerda",
                "fr": "Alignez à gauche",
                "hi": "बाये को करी"
            }},
              { "value": "right", "label": {
                "de": "Rechts ausrichten",
                "it": "Allinea a destra",
                "nb": "Juster riktig",
                "en": "Align Right",
                "es": "Alinear a la derecha",
                "zh-cn": "右对齐",
                "da": "Juster højre",
                "ja": "右揃え",
                "sv": "Anpassa till höger",
                "th": "จัดชิดขวา",
                "zh-tw": "右對齊",
                "nl": "Rechts uitlijnen",
                "fi": "Kohdista oikea",
                "ko": "오른쪽 정렬",
                "pt": "Alinhar à direita",
                "fr": "Aligner à droite",
                "hi": "सही संरेखित"
                }}
           ],
           "label": "Image Alignment"
        },{
          "type": "range",
          "id": "spacing_vertical",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0,
          "label": {
              "de" : "Abstand vertikal" ,
              "it" : "Spaziatura verticale" ,
              "nb" : "Avstand vertikalt" ,
              "en" : "Spacing Vertical" ,
              "es" : "Espaciado vertical" ,
              "zh-cn" : "垂直间距" ,
              "da" : "Afstand lodret" ,
              "ja" : "垂直方向の間隔" ,
              "sv" : "Avstånd vertikalt" ,
              "th" : "ระยะห่างแนวตั้ง" ,
              "zh-tw" : "垂直間距" ,
              "nl" : "Afstand verticaal" ,
              "fi" : "Väli pystysuunnassa" ,
              "ko" : "간격 수직" ,
              "pt" : "Espaçamento Vertical" ,
              "fr" : "Espacement vertical" ,
              "hi" : "खड़ी जगह"
          }
        }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}